body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 84, 153);
    color: rgb(2, 2, 2);
    margin: 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.calculator {
    flex: 1;
    min-width: none;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    padding: 10px; 
    border-style: double;
}

.inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    border-style: solid;
    border: 1px;
    padding: 8px;
    min-width: 100px;
}

button {
    flex: 1;
    min-width: 36px;
    min-height: 40px;
    margin: 2px;
    background-color: azure;
}

.display {
    min-width: 162px;
    min-height: 1.5em;
    display: flex;
    border: 1px solid black;
    background-color: azure;
    flex: 1;
    justify-content: flex-end;
    padding: 1px;
    margin-bottom: 8px;
}

#output {
    font-weight: 500;
}
